[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pylint-django = "*"
mysqlclient = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
